#github "RustyKnight/JAHud"
#github "malcommac/Hydra"
binary "https://www.kiazenenterprises.org:8443/json/11.3.1b11C504/PureLayout" ~> 3.1.4
binary "https://www.kiazenenterprises.org:8443/json/11.3.1b11C504/JAHud" ~> 0.1.0
binary "https://www.kiazenenterprises.org:8443/json/11.3.1b11C504/Hydra" ~> 2.0.3