#github "RustyKnight/JAHud"
#github "malcommac/Hydra"
binary "https://www.kiazenenterprises.org:8443/json/11.0b11M382q/PureLayout" ~> 3.1.5
binary "https://www.kiazenenterprises.org:8443/json/11.0b11M382q/JAHud" ~> 0.0.10
binary "https://www.kiazenenterprises.org:8443/json/11.0b11M382q/Hydra" ~> 2.0.3